---
const pageTitle = "About";
const pageHeader= "About Page";

const identity = {
	firstName: "Zahit",
	lastName: "Acar",
	country: "Turkey",
	occupation: "Civil Engineer",
	hobbies : ["Videography","Reading","swimming", "Fishing"]
}

const skills = ["HTML","CSS","JavaScript"]

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
        <nav>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
        </nav>
		<h1>{pageHeader}</h1>
        
		<section>
			<p>Here are some facts about me: </p>
			{happy && <ul>
				<li>
					My name is {identity.firstName}
				</li>
				<li>
					I live in {identity.country} and I work as a {identity.occupation}.
				</li>
				<li>
					I have some hobbies but {identity.hobbies[3]} is the best for me, I really like it.
				</li>
			</ul>}
		</section>
	</body>
</html>
